
# ACCOUNT_NAME
api_login_url         = "https://peru.talana.com/es/api/login/check-login"
api_clockin_url       = "https://api.peru.talana.com/v1/validateMark/getCreateMarkMobile/"
clockin_cron          = "cron(0 8 ? * MON-FRI *)"
clockout_cron         = "cron(0 19 ? * MON-THU *)"
clockout_fridays_cron = "cron(0 17 ? * FRI *)"
clockin_timezone      = "America/Lima"
sucursal              = "15327"
operation_delay       = 180
max_scheduler_window  = 5